@font-face {
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
  font-family: "Ubuntu";
  font-weight: 300; }

@font-face {
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-family: "Ubuntu";
  font-weight: 400; }

@font-face {
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
  font-family: "Ubuntu";
  font-weight: 700; }
